#board {
    background: brown;
    width: 300px;
    height: 300px;
    left: 0px;
    top: 0px;
}


.circle {
    background: lightgreen;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
}