body {
  background-color: #ada0e9;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: hsl(41, 32%, 38%);
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(173, 255, 152);
  z-index: 2;
}

#snake-head {
  background-color: #98dfff;
}

.apple {
  background-color: red;
  z-index: 1;
}